<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="page.css">
    <title>Document</title>
</head>
<body>
    <div class = "header">
        <p>StackOverFlow Helper</p>
    </div>
    <div class = "introduction">
        <h1>You have a problem ?! </h1>
        <h1>Stack Overflow is here to help!</h1>
    </div>
    <div class = "searchbox">
        <input type="text" class = "searchbox-input" id = "myInput" placeholder = "Write your problem">
        <button class="searchButton" role="button" onclick="document.getElementById('myInput').value = ''">Search</button>
    </div>
    <div class = "browse-text">
        Or look for help in your own code 
    </div>
    <form action="/submit" method ="post">
        <label for="file-input" class="browse-button">Browse</label>
        <input type="file" id="file-input" style="display: none;">
        <input type="submit"class = "submit-button-style" id ="submit-button" value="Submit">
    </form>
    
</body>
</html>


